 <!-- DocSection: building_first_net_app_displaying_content -->
@using MyWebsite.Helpers.Extensions
@model Article

<div class="body">
  <h2>@Model.Title</h2>

  <!-- Generates an IMG element for the image using a helper method. -->
  @Html.AssetImage(@Model.TeaserImage.First(), title: @Model.TeaserImage.First().Name, cssClass: "img-responsive", sizes: new ResponsiveImageSizes(300)
            .WithMediaCondition(new MediaCondition { MinWidth = 330, MaxWidth = 768, ImageWidth = 689 }))>

  @Model.Summary
</div>
<!-- EndDocSection -->